</div><!--.container-->
  
    <footer class="site-footer">
          <div class="container">
              <div class="row">          
                    <div class="footer-navigation medium-column-6">
                        <nav class="menu">
                            <a href="#visit">Visit</a>
                            <a href="#gallery">Gallery</a>
                            <a href="#services">Services</a>
                            <a href="#contact">Contact</a>
                        </nav>
                    </div>
                  
                    <div class="about medium-column-6">
                        <h2>About Us</h2>
                        <p>SF Tours - SAn Francisco's top rated guided tours covering all corners of city. Including all mahor events, hikes, museums, historical places and best restaurants.</p>
                    </div>
              </div> <!--.row-->
          </div> <!--.container-->
          
          <p class="site-info">All Rights Reserved 2017 </p>
    </footer>


</body>
<script src="js/main.js"></script>
</html>